<p>This is the backend1 view.</p>

<form ng-submit="pushMessage()">
  <input class="btn btn-primary" type="submit" value="Send new message">
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Host processed</th>
    <th>Result</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>
    <tr ng-repeat="melding in meldingen | orderBy:'-id'">
      <td>{{melding.id}}</td>
      <td>{{melding.hostprocessed}}</td>
      <td>{{melding.result}}</td>
      <td>{{melding.timestamp | date:'medium'}}</td>
    </tr>
  </tbody>
</table>
