<div class="row">
  <div class="col-xs-6 col-xs-offset-3">


    <div class="jumbotron">
      <h1>Welkom</h1>

      <p class="lead">
        Maak uw keuze ...
      </p>
    </div>


    <div class="row marketing mainpage-choose">
      <div class="col-md-6 well">
        <a ng-href="#/newCreditRequest"><i class="fa fa-edit fa-5x"></i> <br>

          <h3>Nieuwe credit aanvraag</h3></a>
      </div>
      <div class="col-md-6 well">
        <a ng-href="#/creditStatus"><i class="fa fa-dashboard fa-5x"></i> <br>

          <h3>Credit status</h3></a>
      </div>
    </div>

  </div>
</div>
